body { 
    background-color: #CEEEEE;
    text-color: #CCFFBD;
}

hr {
    background-color: none;
    border-style: dotted;
    border-top: dotted 10px;
    border-top-color: #40394A;
    border-bottom: none;
    border-right: none;
    border-left: none;
    height: none;
    width: 4%;
}

h1 {
    color: #40394A
}

h3 {
    color: #40394A
}