/* Disabling the browser's default settings */

.* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Montserrat';
}

.big-heading {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 900; 
    font-size: 3.5rem;  
    line-height: 1.5; 
}

#title {
    background-color: #FF4C68;
    font-family: 'Montserrat' sans-serif;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
} 

.navbar {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 0 0 5rem;
}

.navbar-brand {
    font-size: 3rem;
}

.nav-item {
    padding: 0 18px;
} 

.nav-link {
    font-size: 1.4rem;
}

.btn {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 20rem;
    transform: rotate(25deg);
    position: absolute;
    right: 24rem;   
}

.fa-solid {
    color: #EF8172;
    width: 150px;
    text-align: center;
    padding: 15px;
}

.fa-solid:hover {
    color: #FF4C68
}

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

#features h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
}

#features p {
    color: #8F8F8F;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

.icon-box {
    text-align: center;
    padding: 4.5%;
}

/* Testimonials section */

#testimonials {
    text-align: center;
    background-color: #EF8172;
    color:aliceblue;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-text {
    font-size:  3rem;
}

.testimonial-image {
    
    width:  10%;
    border-radius: 50%;
    margin: 20px;
}

/* press section */

#press {
    background-color: #EF8172;
    text-align: center;
    padding-bottom: 3%;                    
}

.press-logo {
    width: 15%;
    margin: 20px 20px 20px;
}

/* Princing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-head {
    font-size:  3rem;
}

.princing-title {
    font-size: 1,5rem;
}

.pricing-column {
    padding: 3% 2%;
}

/* Call to Action */

.cta-text {
    font-size: 1,5rem;
}

#cta {
    background-color: #FF4C68;
    text-align: center;
    padding: 5% 15%;
}

#cta h3 {
    font-size: 3.5rem;
    color: white;
}

#footer {
    text-align: center;
    padding: 5% 15%;
    font-size: 1.2rem;   
}

#footer i {
    padding: 1% 1%;
}

@media (max-width: 1400px) {

    #title {
        text-align: center;
    }

    .title-image {
        width: 20rem;
        transform: rotate(0deg);
        position: static;
        text-align: center;
    }
}